@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.love-text {
  position: fixed;
  top: 40px;
  color: #f8a100;
  font-family: 'Great Vibes', cursive;
  font-size: 35px;
  text-shadow: 0 0 10px #ffd900, 0 0 25px #ffe553, 0 0 40px #bcdb0b;
  animation: blink 2s infinite ease-in-out;
  z-index: 9999;
  pointer-events: none;
}

.love-text.left {
  left: 60px;
  text-align: left;
}

.love-text.right {
  right: 60px;
  text-align: right;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.05);
  }
}
